.img-wrapper{
  column-count: 3;
  column-gap: 10px;
  
  counter-reset: count;
  margin: 0 auto;
  
  @media (max-width: $mantine-breakpoint-md) {
    column-count: 2;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    column-count: 1;
  }

  &>div{
    position: relative;
    margin-bottom: 10px;
  }
}
